.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding: 0 32px;
  }

  @media screen and (min-width: $desktop) {
    margin: 0 auto;
    width: $desktop;
    padding: 0 32px;
  }
}

.audio-btn {
  position: fixed;
  left: 5%;
  top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  width: 34px;
  height: 34px;
  border-radius: 50px;
  background-color: transparent;
  box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 18px;

  &-off:after {
    content: '';
    position: absolute;
    // height: 34px;
    border-bottom: 2px solid rgba(245, 245, 245, 0.8);
    width: 75%;
    transform: rotate(135deg);
  }

  &-off:before {
    content: '';
    position: absolute;
    border-bottom: 2px solid rgba(245, 245, 245, 0.7);
    width: 75%;
    transform: rotate(45deg);
  }
}

.lang-btn {
  position: fixed;
  right: 5%;
  top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  width: 34px;
  height: 34px;
  border-radius: 50px;
  background-color: transparent;
  box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 16px;
}

@media screen and (min-width: $desktop) {
  .audio-btn {
    top: 5%;
    left: 2%;
  }

  .lang-btn {
    top: 5%;
    right: 2%;
  }
}

.animate__pulse {
  animation-iteration-count: infinite;
  animation-duration: 4000ms;
}

.page {
  &::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: url('../images/kyiv/night-kyiv.jpg') center/cover no-repeat;
  }
}
.page-en {
  &::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../images/bg.webp') center/cover no-repeat;
  }
}

.main-screen {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;

  & * {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    will-change: transform;
  }
}

.moon {
  & span {
    background: url('../images/kyiv/sky.png') top / 100% no-repeat;
    height: auto;
    transform: translate(0px, -50%);
    padding-bottom: 36%;
  }
}

.moon-en {
  & span {
    background: url('../images/moon.webp') top / 100% no-repeat;
  }
}

.building {
  & span {
    width: 110%;
    left: -5%;
  }
}

.building_three {
  & span {
    background: url('../images/kyiv/group-back-1.png') bottom / auto 100%
      no-repeat;
  }
}
.building_three-en {
  & span {
    background: url('../images/building-03.webp') bottom / auto 100% repeat-x;
  }
}

.building_two {
  & span {
    background: url('../images/kyiv/group-2-1.png') bottom / auto 100% repeat-x;
  }
}
.building_two-en {
  & span {
    background: url('../images/building-02.webp') bottom / auto 100% repeat-x;
  }
}
.building_one {
  & span {
    background: url('../images/kyiv/group-1.png') bottom / auto 100% repeat-x;
  }
}
.building_one-en {
  & span {
    background: url('../images/building-01.webp') bottom / auto 100% repeat-x;
  }
}
.train {
  & span {
    min-width: 62.5rem;
    left: 50%;
    transform: translate(-50%, 0px);
    // background: url('../images/kyiv/santa-fly.png') bottom / auto 100% no-repeat;
  }
}

.train-en {
  & span {
    background: url('../images/train.webp') bottom / auto 100% no-repeat;
  }
}

.santa__tree {
  & span {
    margin-top: 15vh;
    margin-right: 20vh;
    transform: rotate(45deg);
    background: url('../images/kyiv/tree-anim.gif') center / auto 25% no-repeat;
  }
}

.santa__tree-en {
  & span {
    margin-top: 0;
    margin-right: 0;
    margin-left: -70vh;
    transform: rotate(90deg);
    background: url('../images/christmas-tree.webp') center / auto 25% no-repeat;
  }
}

.santa__ball_one {
  & span {
    margin-top: -10vh;
    margin-left: -40vh;
    background: url('../images/kyiv/snow-anim.gif') center / auto 2.5% no-repeat;
  }
}

.santa__ball_one-en {
  & span {
    margin-top: -10vh;
    margin-left: -40vh;
    background: url('../images/ball-01.webp') center / auto 2.5% no-repeat;
  }
}
.santa__ball_two {
  & span {
    margin-top: -5vh;
    margin-left: -27vh;
    background: url('../images/kyiv/snow-anim.gif') center / auto 2.5% no-repeat;
  }
}

.santa__ball_two-en {
  & span {
    margin-top: -5vh;
    margin-left: -27vh;
    background: url('../images/ball-02.webp') center / auto 1.5% no-repeat;
  }
}

.santa__candy_one {
  & span {
    margin-top: -2vh;
    margin-left: -35vh;
    background: url('../images/kyiv/gold-snowflake-christmas.gif') center / auto
      4.5% no-repeat;
  }
}

.santa__candy_one-en {
  & span {
    margin-top: -2vh;
    margin-left: -35vh;
    background: url('../images/candy-01.webp') center / auto 4.5% no-repeat;
  }
}

.santa__candy_two {
  & span {
    margin-left: -23vh;
    background: url('../images/kyiv/gold-snowflake-christmas.gif') center / auto
      3.5% no-repeat;
  }
}

.santa__candy_two-en {
  & span {
    margin-left: -23vh;
    background: url('../images/candy-02.webp') center / auto 3.5% no-repeat;
  }
}

.santa__man {
  & span {
    margin-top: -55vh;
    margin-left: 8vh;
    // transform: rotate(135deg);
    background: url('../images/kyiv/santa-cab.png') bottom / auto 45% no-repeat;
  }
}

.santa__man-en {
  & span {
    margin-top: -10vh;
    margin-left: -6vh;
    background: url('../images/santa.webp') center / auto 25% no-repeat;
  }
}

.tree {
  & span {
    background: url('../images/tree.webp') bottom / auto 100% repeat-x;
  }
}

.stairs {
  & span {
    width: 110%;
    left: -5%;
    background: url('../images/kyiv/group-front.png') bottom / 100% no-repeat;
  }
}

.stairs-en {
  & span {
    width: 110%;
    left: -5%;
    background: url('../images/stairs.webp') bottom / 100% no-repeat;
  }
}

.efx {
  // background: url('../images/noise.webp') center repeat;
  will-change: auto;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &::before {
    background: linear-gradient(
      180deg,
      #1f495d 0%,
      rgba(212, 181, 27, 0.5) 65%,
      #042561 100%
    );
    opacity: 0.5;
  }

  &::after {
    background: radial-gradient(
      150% 50% at 50% 50%,
      rgba(4, 33, 58, 0) 0%,
      #04213a 100%
    );
    mix-blend-mode: overlay;
    opacity: 0.8;
  }
}
.content {
  position: relative;
  padding-top: 300vh;
  padding-bottom: 3.125rem;
  color: #fff;
}

.content__container {
  position: relative;
  margin: 0 auto;

  max-width: 60vw;
  padding: 1.875rem;
  background-color: rgba(22, 35, 59, 0.7);
  box-shadow: inset 0 0 0.7em 0.2em rgba(110, 140, 200, 0.2),
    0 0 0.7em 0.8em rgba(110, 140, 200, 0.2);
  font-weight: 500;
  border-radius: 18px;
  text-align: center;
}

@media screen and (min-width: $desktop) {
  .content__container {
    max-width: 55vw;
  }
}

// .content__title {
//   font-size: 16px;
//   text-transform: uppercase;
//   margin-bottom: 1.875rem;
//   line-height: 1.5;
// }

@media screen and (min-width: $desktop) {
  .content__title {
    font-size: 2.125rem;
  }
}

.content__body {
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  flex-wrap: wrap;

  // & p {
  //   line-height: 150%;
  // }
  // & p:not(:last-child) {
  //   margin-bottom: 1.875rem;
  // }
}

.content__info {
  font-style: italic;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 140px;
}

// Animation

.stairs span {
  transform: translate(0px, 100%);
}

.loaded .stairs span {
  transform: translate(0px, 1%);
  transition: transform 1s ease;
}

.tree span {
  transform: translate(0px, 100%);
}

.loaded .tree span {
  transform: translate(0px, 0%);
  transition: transform 1s ease 0.1s;
}

.moon span {
  transform: translate(0px, -100%);
}

.loaded .moon span {
  transform: translate(0px, -50%);
  transition: transform 1s ease 0.8s;
}

.stairs span {
  transform: translate(0px, 100%);
}

.loaded .stairs span {
  transform: translate(0px, 1%);
  transition: transform 1s ease;
}

.building span {
  transform: translate(0px, 100%);
}

.loaded .building span {
  transform: translate(0px, 0%);
  transition: transform 1s ease;
}

.loaded .building_one span {
  transition-delay: 0.2s;
}

.loaded .building_two span {
  transition-delay: 0.4s;
}

.loaded .building_three span {
  transition-delay: 0.6s;
}

.train span {
  opacity: 0;
  transform: translate(100%, -100%);
}

.loaded .train span {
  opacity: 1;
  transform: translate(-50%, 0%);
  transition: all 1.5s ease 1.5s;
}

.santa span {
  transform: translate(-100vw, 0px);
}

.loaded .santa span {
  transform: translate(0vw, 0px);
}

.loaded .santa__tree span {
  transition: transform 2.5s ease 1.25s;
}

.loaded .santa__ball_one span {
  transition: transform 2.4s ease 1.2s;
}

.loaded .santa__candy_one span {
  transition: transform 2.3s ease 1.15s;
}

.loaded .santa__ball_two span {
  transition: transform 2.2s ease 1.1s;
}

.loaded .santa__candy_two span {
  transition: transform 2.1s ease 1.05s;
}

.loaded .santa__man span {
  transition: transform 2s ease 1s;
}

// CURSOR

.star-five {
  background: transparent;
  margin: 50px 0;
  position: relative;
  display: block;
  color: #e1ff5e;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #e1ff5e;
  border-left: 100px solid transparent;
  /* transform: rotate(35deg) scale(0.1) translate(-1450px, -250px); */
}
.star-five:before {
  border-bottom: 80px solid #ffffff;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  background-color: transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
.star-five:after {
  background-color: transparent;
  position: absolute;
  display: block;
  color: #ffdc5e;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #ffdc5e;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: '';
}

// ARROW
$base: 0.6rem;

.arrow-container {
  opacity: 0;
}

.loaded .arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0.6;

  &--main {
    width: max-content;
    position: absolute;
    left: 52%;
    bottom: 20%;
    transform: translateX(-50%) rotate(180deg);
    opacity: 0.6;
    margin-top: -35vw;
    z-index: 10000000;
  }
}

@media screen and (min-width: $tablet) {
  .loaded .arrow-container {
    &--main {
      left: 50%;
      margin-top: -40px;
    }
  }
}

.arrow-hint {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: #ffdc5e;
  font-size: 16px;
  transform: translate(-33%, -50%) rotate(180deg);
  height: 40px;
  max-width: 100px;
  width: max-content;
  animation: hint-display 6s ease-out infinite;
}

.chevron {
  position: absolute;
  width: $base * 2.5;
  height: $base * 0.7;
  opacity: 0;
  transform: scale(0.1);
  animation: move-chevron 4s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 4s ease-out 2s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 4s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #ffdc5e;
}

.chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

@keyframes hint-display {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.3;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.6;
  }
  85% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY($base * 3.8);
  }
  66.6% {
    opacity: 1;
    transform: translateY($base * 5.2);
  }
  100% {
    opacity: 0;
    transform: translateY($base * 8) scale(0.5);
  }
}

// CONTENT TEXT

#word-container {
  position: relative;
  height: auto;
  // filter: url(#threshold) blur(0.5px);
}

#text1,
#text2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  display: inline-block;
  font-size: 16px;
  color: #ffdc5e;
  text-align: center;
  user-select: none;
}
#filters {
  height: fit-content;
  max-height: 10px;
}
// LETTER

@keyframes upthenscale {
  0% {
    transform: translateY(250px);
  }

  50% {
    transform: translateY(0);
  }

  60% {
    height: 100px;
    width: 90px;
    transform: translateY(0);
  }

  100% {
    height: 250px;
    width: 100%;
    transform: translateY(0);
  }
}

@keyframes scalethendown {
  0% {
    height: 250px;
    width: 100%;
    transform: translateY(0);
  }

  50% {
    height: 100px;
    width: 90px;
    transform: translateY(0);
  }

  60% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(250px);
  }
}

@keyframes waitfade {
  0%,
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes wiggle {
  0% {
    transform: translateY(310px) rotate(0);
  }

  25% {
    transform: translateY(310px) rotate(2deg);
  }

  50% {
    transform: translateY(310px) rotate(0deg);
  }

  75% {
    transform: translateY(310px) rotate(-2deg);
  }

  100% {
    transform: translateY(310px) rotate(0);
  }
}

.letter {
  max-width: 350px;
  height: 375px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  display: block;
}

.letter--open .paper {
  animation-name: upthenscale;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

.letter--close .paper {
  animation-name: scalethendown;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

.letter--open .paper-content {
  animation-name: waitfade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.letter--open .envelope {
  animation: pause;
}

.paper-content {
  width: 150px;
  color: black;
  font-size: 16px;
  line-height: 1;
  // font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding: 25px;
  opacity: 0;
}

.paper {
  // height: fit-content;
  height: 30px;
  width: 90px;
  border-radius: 12px;
  background: #f1f0c3;
  transform: translateY(250px);
  margin: 0 auto;
  transition: transform 0.3s 0.1s ease;
  border-radius: 2px;
  position: relative;
}

.paper-text {
  display: block;
  height: fit-content;
  padding: 0 12px;

  font-weight: 500;
  font-size: 16px;
  color: black;
}

.envelope {
  width: 94px;
  height: 60px;
  background: #f36363;
  position: relative;
  margin: auto;
  z-index: 2;
  cursor: pointer;
  border-radius: 3px;
  transition: box-shadow 0.3s ease;
  transform: translateY(310px);
  animation: wiggle 0.3s 0.2s infinite;
  &:hover {
    animation: pause;
    & .envelope-paper {
      transform: translateY(-20px);
    }
    & .envelope-flap {
      transform: translateY(-45px);
    }
    & .envelope-detail::after {
      visibility: hidden;
    }
  }
}

.envelope-paper {
  height: 50px;
  width: 90px;
  background: #f1f0c3;
  transform: translateY(0);
  margin: 0 auto;
  transition: transform 0.3s 0.1s ease;
  border-radius: 2px;
  position: absolute;
  border: 2px solid transparent;
}

.letter--open .envelope-paper {
  visibility: hidden;
}

.letter--open .envelope-detail::after {
  visibility: hidden;
}

.letter--close .envelope-paper {
  visibility: hidden;
}

.envelope-flap {
  content: '';
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-bottom: 45px solid #f36363;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  transform: translateY(0);
}

.letter--open .envelope-flap {
  transform: translateY(-45px);
}

.letter--open .envelope-detail {
  border-top: 2px solid #e25b5b;
}

.envelope-detail {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  background: #f36363;
  border-top: 2px solid transparent;
  &:before {
    content: '';
    width: 70px;
    height: 70px;
    background: #f36363;
    display: inline-block;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    margin: auto;
    transform: rotate(45deg);
    border: 4px solid #e65454;
  }
  &:after {
    content: '';
    width: 70px;
    height: 70px;
    background: #f36363;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -45px;
    margin: auto;
    transform: rotate(45deg);
    border: 4px solid #e65454;
  }
}

.envelope__fold {
  height: 25px;
  width: 86px;
  background: #f36363;
  border: 4px solid #e65454;
  display: block;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.paper-close {
  position: absolute;
  right: 10px;
  top: 5px;
  display: inline-block;
  cursor: pointer;
}
